# ============================
# Discord
# ============================

DISCORD_TOKEN=YOUR_DISCORD_TOKEN_HERE

# ============================
# Application
# ============================

DEBUG=False
LOG_LEVEL=INFO

# ============================
# Bot
# ============================

BOT_NAME=LSentinel
VERSION=0.1.0